@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Azure DevOps</a>.</p>
    <p>@Configuration.GetSection("Message").Value</p>
</div>
